@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="~/Content/Css/protocol.css" rel="stylesheet" />

    <title>蜜游全球版用户隐私政策</title>
</head>
<body>
    <div class="all">
        <h1>蜜游全球版用户隐私政策</h1>
        <p>
            本《用户隐私政策》（下称《政策》）说明了蜜游全球版平台（下称“蜜游全球版”）在收集、管理和保护用户个人信息方面的政策及措施。<br />
            您的注册、登录、使用等行为将视为您已知悉并同意蜜游全球版平台按《政策》收集、管理和保护您的个人信息。<br />
            蜜游全球版有权随时修改《政策》的任何条款，用户可在蜜游全球版网站和移动应用中查阅最新版《政策》的条款。如果用户不同意蜜游全球版对《政策》相关条款所做的修改，用户有权立即停止使用蜜游全球版服务。用户继续使用蜜游全球版服务将被视为接受蜜游全球版对本《政策》相关条款所做的修改。
        </p>
        <h2>一、个人信息的收集</h2>
        <p>
            在您注册、登录、使用蜜游全球版服务时，我们可能会收集您提供的相关个人信息及其他非个人隐私信息，包括但不限于：手机号、IP地址、地理位置、IMEI号、MAC地址、设备型号、操作日志以及通过cookie和web beacon采集到的技术信息等。<br />
            蜜游全球版承诺采集cookie和web beacon信息仅用于记住用户的登录状态、判断用户使用蜜游全球版服务的情况，目的是提升服务质量及优化用户体验。
        </p>
        <h2>二、个人信息的管理</h2>
        <p>蜜游全球版不对外公开或向第三方提供用户的注册资料及用户在使用蜜游全球版服务时存储在本平台的非公开内容，但下列情况除外：</p>
        <ol>
            <li>事先获得用户或其监护人的明确授权；</li>
            <li>按照司法机关或行政机关的法定程序要求；</li>
            <li>蜜游全球版为维护自身合法权益而向用户提起诉讼或仲裁时；</li>
            <li>有关法律法规规定的其他情形。</li>
        </ol>
        <h2>三、个人信息的保护</h2>
        <p>蜜游全球版注重保护其获得的用户个人信息。为防止用户个人信息在意外的、未经授权的情况下被非法访问、复制、修改、传送、遗失、破坏、处理或使用，蜜游全球版已经并将继续采取以下措施保护您的个人信息：</p>
        <ol>
            <li>以适当的方式对用户的个人信息进行加密处理；</li>
            <li>在适当的位置使用密码对用户个人信息进行保护；</li>
            <li>限制对用户个人信息的未授权访问；</li>
            <li>其他合理措施。</li>
        </ol>
        <p>
            此外，用户应采取积极措施保证个人信息的安全，比如：定期修改账号密码、不要将自己的账号密码等个人信息透露给他人。  
        </p>
        <h2>四、未成年人保护</h2>
        <p>蜜游全球版非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用蜜游全球版服务前，应确保已取得监护人的同意，如您在蜜游全球版上申请注册账号，蜜游全球版将视为您已得到前述同意。蜜游全球版将根据国家相关法律法规及本《政策》的规定保护未成年人的个人信息。</p>
        <p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>

    </div>
</body>
</html>
