
@font-face {
  font-family: 'iconfont';  /* project id 1374464 */
  src: url('https://at.alicdn.com/t/font_1374464_iw52nl1s22o.eot');
  src: url('https://at.alicdn.com/t/font_1374464_iw52nl1s22o.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1374464_iw52nl1s22o.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1374464_iw52nl1s22o.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1374464_iw52nl1s22o.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1374464_iw52nl1s22o.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diantai1:before {
  content: "\e605";
}

.icon-zhibo:before {
  content: "\e601";
}

.icon-diantai:before {
  content: "\e602";
}

.icon-zuanshi-zuanshi:before {
  content: "\e603";
}

.icon-paihangbang:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e600";
}

.icon-ttpodicon:before {
  content: "\e607";
}

.icon-meirituijian:before {
  content: "\e609";
}

.icon-gedan:before {
  content: "\e60d";
}


