@*<h5>我是公共部分，当前时间：@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")</h5>*@
<div style="position: fixed; height: 4rem; line-height: 4rem;font-size:1.6rem; bottom: 0;background-color: rgba(255,96,153,.9); width: 99.99%; text-align: center; ">
    <a style="color: rgba(255,255,255,1);text-decoration:none;" href="javascript:window.history.go(-1)">返回</a>
</div>