<div class="inward">
    <div class="brain bg02">
        <div class="bn_inside">
            <a href="javascript:Answer.Page.openChallengeInviteLayer('close')" class="icon_back"></a>
            <div class="hint">
                <div class="ht_in">
                    <div class="tixian">输入对方IDX发起挑战，让脑洞颤抖吧！</div>
                    <input id="txtidx" name="" type="number" placeholder="请输入对方的IDX">
                    <a href="javascript:Answer.Logic.setupGame(2)" class="btn_org">发起挑战</a>
                </div>
                <p>1.发起邀请后，对方才能收到邀请哦</p>
                <p>2.邀请后请勿退出游戏，退出后对方无法加入游戏！</p>
            </div>
        </div>
    </div>
</div>