<div class="inward">
    <div class="brain bg02">
        <div class="bn_inside">
            <a href="javascript:Answer.Page.openInviteLayer('close');" class="icon_back"></a>
            <div class="hint">
                <div class="ht_in">
                    <span>长按复制选中下方白色区域文字去邀请分享哦</span>
                    <h3 id="shareLetters" style="-webkit-user-select:text;">
                        点击链接注册喵播，立获得10元无套路现金参加答题，更有机会获得超多奖励<br>
                        @ViewBag.shareURL
                    </h3>
                    <h4>今日剩余游戏次数：<strong>@Model.remainNum</strong>次，已邀请<strong>@Model.invitedNum</strong>人</h4>
                    @*<a class="share btn_org" href="javascript:;" onclick="back(this)" data-clipboard-action="copy" data-clipboard-target="#copyData" aria-label="复制成功！">复制链接去邀请</a>*@
                </div>
                <p>1.需要复制以上文本到微信、QQ、朋友圈等分享哦 </p>
                <p>2.分享邀请好友可获得额外游戏次数 </p>
                <p>3.新用户注册后可获得10元现金奖励（需进入游戏房提现）</p>
            </div>
        </div>
    </div>
</div>
